.user {
  --background: 13, 17, 23;
  --accent: 175, 20, 80;
  --surface: 21, 24, 30;
  --outline: 41, 50, 61;
  --neutral: 220, 218, 214;
}

.business {
  --background: 13, 17, 23;
  --accent: 20, 163, 163;
  --surface: 21, 24, 30;
  --outline: 41, 50, 61;
  --neutral: 220, 218, 214;
}
