.user {
  --background: 13, 17, 23;
  --accent: 175, 20, 80;
  --surface: 25, 29, 36;
  --outline: 50, 60, 72;
  --neutral: 220, 218, 214;
}
.business {
  --background: 13, 17, 23;
  --accent: 20, 163, 163;
  --surface: 25, 29, 36;
  --outline: 50, 60, 72;
  --neutral: 220, 218, 214;
}
