.user {
  --background: 13, 17, 23;
  --accent: 204, 39, 85;
  --surface: 28, 33, 41;
  --outline: 50, 60, 72;
  --neutral: 211, 213, 207;
}
.business {
  --background: 13, 17, 23;
  --accent: 25, 181, 160;
  --surface: 28, 33, 41;
  --outline: 50, 60, 72;
  --neutral: 211, 213, 207;
}
