@import url("https://fonts.googleapis.com/css?family=DM+Sans");

@import url("assets/css/button.css");
@import url("assets/css/palette.css");
@import url("assets/css/scrollbar.css");
@import url("assets/css/transition.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserrat-alt";
  src:
    local("montserrat-alt"),
    url("assets/fonts/MontserratAlt1-Regular.ttf") format("truetype");
}

* {
  z-index: 1;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "DM Sans";
  @apply bg-background text-text;
}
