@import url("https://fonts.googleapis.com/css?family=DM+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");

@import url("assets/css/globals.css");
@import url("assets/css/palette.css");
@import url("assets/css/scrollbar.css");
@import url("assets/css/transition.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rounded-card {
    @apply rounded-[var(--card-border-radius)];
  }
  .rounded-default {
    @apply rounded-[var(--border-radius)];
  }
  .accent-card {
    --y-tr: 30px;
    --duration-tr: 500ms;
    --delay-tr: 100ms;
    @apply rounded-card flex cursor-pointer flex-col bg-accent/[.12] p-8;
  }
}

@font-face {
  font-family: "montserrat-alt";
  src:
    local("montserrat-alt"),
    url("assets/fonts/MontserratAlt1-Regular.ttf") format("truetype");
}

h1 {
  @apply mb-[1.75rem] text-title;
}

h2 {
  @apply mb-[1.2rem] text-subtitle;
}

h3 {
  @apply mb-[0.875rem] text-body;
}

html {
  @apply text-body text-neutral;
}
* {
  z-index: 1;
  user-select: none;
}

body {
  font-family: "Poppins";
  @apply h-full bg-background text-body text-neutral;
}
