@tailwind utilities;

@layer utilities {
  .rounded-card {
    @apply rounded-[var(--card-border-radius)];
  }
  .rounded-default {
    @apply rounded-[var(--border-radius)];
  }
  .accent-card {
    --y-tr: 30px;
    --duration-tr: 500ms;
    --delay-tr: 100ms;
    @apply rounded-card flex cursor-pointer flex-col bg-accent/[.12] p-8;
  }
}
